{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "EnvisionAPI"
  },
  "host": "api.travelagent.com.br",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/Admin/CruiseCharter/GetPnrInfos": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetPnrInfos",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCharterPnrInfosRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCharterPnrInfosRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCabinsInfos": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCabinsInfos",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterCabinsInfosRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterCabinsInfosRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCruiseCharterAllocations": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCruiseCharterAllocations",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterAllocationsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterAllocationsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetFare": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetFare",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/UpdateFare": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_UpdateFare",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.UpdateCruiseCharterFareRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.UpdateCruiseCharterFareRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetOriginalFareDetails": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetOriginalFareDetails",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterOriginalFareDetailsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterOriginalFareDetailsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/RetrieveCruiseCharterPnr": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_RetrieveCruiseCharterPnr",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.RetrieveCruiseCharterPnrRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.RetrieveCruiseCharterPnrRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/ImportCruiseCharterPnr": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_ImportCruiseCharterPnr",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.ImportCruiseCharterPnrRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.ImportCruiseCharterPnrRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/ImportCruiseCharterCsv": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_ImportCruiseCharterCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.ImportCruiseCharterCsvRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.ImportCruiseCharterCsvRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCruiseCharterImporterLogs": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCruiseCharterImporterLogs",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterImporterLogsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterImporterLogsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/SetCabinsAvailableBasedOnTheQuantity": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_SetCabinsAvailableBasedOnTheQuantity",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.SetCabinsAvailableBasedOnTheQuantityRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.SetCabinsAvailableBasedOnTheQuantityRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCruiseCharterFareTypes": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCruiseCharterFareTypes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareTypesRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareTypesRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCruiseCharterFareType": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCruiseCharterFareType",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareTypeRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareTypeRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/SaveCruiseCharterFareType": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_SaveCruiseCharterFareType",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.SaveCruiseCharterFareTypeRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.SaveCruiseCharterFareTypeRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/UpdateCharterPnrAvailability": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_UpdateCharterPnrAvailability",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.UpdateCharterPnrAvailabilityRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.UpdateCharterPnrAvailabilityRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCharterFareInfo": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCharterFares",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareInfoRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.GetCruiseCharterFareInfoRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/UpdateSystemFare": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_UpdateSystemFare",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.UpdateSystemFareRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.UpdateSystemFareRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/DeleteCharterPnr": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_DeleteCharterPnr",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.DeleteCharterPnrRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CruiseCharter.API.Client.CruiseCharterAPI.DeleteCharterPnrRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/SearchCompanies": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_SearchCompanies",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.CruiseCharter.SearchCompaniesRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.CruiseCharter.SearchCompaniesRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCompanyNames": {
      "post": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCompanyNames",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.GetCompanyNamesRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.GetCompanyNamesRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Admin/CruiseCharter/GetCharterReportExcel": {
      "get": {
        "tags": [
          "Admin/CruiseCharterAdmin"
        ],
        "operationId": "CruiseCharterAdmin_GetCharterReportExcel",
        "consumes": [],
        "produces": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "File Response",
            "schema": {
              "format": "byte",
              "type": "file"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Authorization/GetSession": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "operationId": "Authorization_GetSession",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Session.GetSessionRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Session.GetSessionRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Authorization/ResetUserPassword": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "operationId": "Authorization_ResetUserPassword",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Session.ResetUserPasswordRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Session.ResetUserPasswordRS"
            }
          }
        }
      }
    },
    "/Authorization/ChangeUserPassword": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "operationId": "Authorization_ChangeUserPassword",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Session.ChangeUserPasswordRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Session.ChangeUserPasswordRS"
            }
          }
        }
      }
    },
    "/Locations/{id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Locations.Location"
            }
          }
        }
      }
    },
    "/Locations/GetSearchLocation/{id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_GetSearchLocation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Locations.SearchedLocation"
            }
          }
        }
      }
    },
    "/Locations/GetParent/{id}/{parentLocationType}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_GetParent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parentLocationType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "world",
              "continent",
              "country",
              "state",
              "city",
              "airport",
              "region",
              "spot",
              "port",
              "busStation",
              "hotel"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Locations.Location"
            }
          }
        }
      }
    },
    "/Locations/AirLocations/{query}": {
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_SearchAirLocations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Locations.SearchLocationsRS"
            }
          }
        }
      }
    },
    "/Locations/CarLocations/{query}": {
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_SearchCarLocations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Locations.SearchLocationsRS"
            }
          }
        }
      }
    },
    "/Locations/HotelLocations/{query}": {
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_SearchHotelLocations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Locations.SearchLocationsRS"
            }
          }
        }
      }
    },
    "/Locations/Search": {
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "Locations_Search",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Locations.SearchLocationsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Locations.SearchLocationsRS"
            }
          }
        }
      }
    },
    "/Payments/GetPaymentSummary": {
      "post": {
        "tags": [
          "Payments/PaymentLink"
        ],
        "operationId": "PaymentLink_GetPaymentSummary",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rq",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.GetPaymentLinkSummaryRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.GetPaymentLinkSummaryRS"
            }
          }
        }
      }
    },
    "/Payments/CreatePayPalPayment": {
      "post": {
        "tags": [
          "Payments/PaymentLink"
        ],
        "operationId": "PaymentLink_CreatePayPalPayment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rq",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.CreatePayPalPaymentRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.CreatePayPalPaymentRS"
            }
          }
        }
      }
    },
    "/Payments/ExecutePayPalPayment": {
      "post": {
        "tags": [
          "Payments/PaymentLink"
        ],
        "operationId": "PaymentLink_ExecutePayPalPayment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rq",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.ExecutePayPalPaymentRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.ExecutePayPalPaymentRS"
            }
          }
        }
      }
    },
    "/Payments/AuthorizeCreditCardPayment": {
      "post": {
        "tags": [
          "Payments/PaymentLink"
        ],
        "operationId": "PaymentLink_AuthorizeCreditCardPayment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rq",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.AuthorizeCreditCardPaymentRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.AuthorizeCreditCardPaymentRS"
            }
          }
        }
      }
    },
    "/Payments/GetPaymentLinkSuccess": {
      "post": {
        "tags": [
          "Payments/PaymentLink"
        ],
        "operationId": "PaymentLink_GetPaymentLinkSuccess",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rq",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.GetPaymentLinkSuccessRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Payments.GetPaymentLinkSuccessRS"
            }
          }
        }
      }
    },
    "/Profile/ApprovalGroups/Query": {
      "post": {
        "tags": [
          "Profile/ApprovalGroups"
        ],
        "operationId": "ApprovalGroupsProfile_QueryCompanies",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryApprovalGroupsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryApprovalGroupsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalGroups/Create": {
      "post": {
        "tags": [
          "Profile/ApprovalGroups"
        ],
        "operationId": "ApprovalGroupsProfile_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.CreateApprovalGroupRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.CreateApprovalGroupRQ"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalGroups/{id}": {
      "get": {
        "tags": [
          "Profile/ApprovalGroups"
        ],
        "operationId": "ApprovalGroupsProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.ApprovalGroup"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Profile/ApprovalGroups"
        ],
        "operationId": "ApprovalGroupsProfile_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.ApprovalGroup"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalGroups/Update": {
      "put": {
        "tags": [
          "Profile/ApprovalGroups"
        ],
        "operationId": "ApprovalGroupsProfile_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "updateApprovalGroupRQ",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.UpdateApprovalGroupRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.UpdateApprovalGroupRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalUsers/Query": {
      "post": {
        "tags": [
          "Profile/ApproversUsers"
        ],
        "operationId": "ApproversUsersProfile_QueryCompanies",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryApprovalUsersRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryApprovalUsersRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalUsers/Create": {
      "post": {
        "tags": [
          "Profile/ApproversUsers"
        ],
        "operationId": "ApproversUsersProfile_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "createApprovalUserRQ",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.CreateApprovalUserRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.CreateApprovalUserRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalUsers/{id}": {
      "get": {
        "tags": [
          "Profile/ApproversUsers"
        ],
        "operationId": "ApproversUsersProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.ApprovalUser"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Profile/ApproversUsers"
        ],
        "operationId": "ApproversUsersProfile_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.ApprovalUser"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/ApprovalUsers/Update": {
      "put": {
        "tags": [
          "Profile/ApproversUsers"
        ],
        "operationId": "ApproversUsersProfile_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdateApprovalUserRQ",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.UpdateApprovalUserRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.UpdateApprovalUserRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Companies/SearchContextCompanies": {
      "post": {
        "tags": [
          "Profile/Companies"
        ],
        "operationId": "CompaniesProfile_SearchContextCompanies",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.SearchContextCompaniesRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.SearchContextCompaniesRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Companies/Query": {
      "post": {
        "tags": [
          "Profile/Companies"
        ],
        "operationId": "CompaniesProfile_QueryCompanies",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryCompaniesRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryCompaniesRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Companies": {
      "post": {
        "tags": [
          "Profile/Companies"
        ],
        "operationId": "CompaniesProfile_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.Company"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.Company"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Companies/{id}": {
      "get": {
        "tags": [
          "Profile/Companies"
        ],
        "operationId": "CompaniesProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.Company"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/CostCenters/Query": {
      "post": {
        "tags": [
          "Profile/CostCenters"
        ],
        "operationId": "CostCentersProfile_QueryCostCenters",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryCostCentersRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryCostCentersRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/CostCenters/{id}": {
      "get": {
        "tags": [
          "Profile/CostCenters"
        ],
        "operationId": "CostCentersProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.CostCenter"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Profile/CostCenters"
        ],
        "operationId": "CostCentersProfile_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.CostCenter"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/CostCenters": {
      "post": {
        "tags": [
          "Profile/CostCenters"
        ],
        "operationId": "CostCentersProfile_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "costCenter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.CostCenter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.CostCenter"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/PermissionGroups/Query": {
      "post": {
        "tags": [
          "Profile/PermissionGroups"
        ],
        "operationId": "PermissionGroupsProfile_QueryPermissionGroups",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryPermissionGroupsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryPermissionGroupsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/PermissionGroups/{id}": {
      "get": {
        "tags": [
          "Profile/PermissionGroups"
        ],
        "operationId": "PermissionGroupsProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.PermissionGroup"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Profile/PermissionGroups"
        ],
        "operationId": "PermissionGroupsProfile_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.PermissionGroup"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/PermissionGroups": {
      "post": {
        "tags": [
          "Profile/PermissionGroups"
        ],
        "operationId": "PermissionGroupsProfile_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "permissionGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.PermissionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.PermissionGroup"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/SystemAccounts/Query": {
      "post": {
        "tags": [
          "Profile/SystemAccounts"
        ],
        "operationId": "SystemAccountsProfile_QuerySystemAccounts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QuerySystemAccountsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QuerySystemAccountsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/SystemAccounts/{id}": {
      "get": {
        "tags": [
          "Profile/SystemAccounts"
        ],
        "operationId": "SystemAccountsProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.SystemAccount"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Profile/SystemAccounts"
        ],
        "operationId": "SystemAccountsProfile_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.SystemAccount"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/SystemAccounts": {
      "post": {
        "tags": [
          "Profile/SystemAccounts"
        ],
        "operationId": "SystemAccountsProfile_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "systemAccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.SystemAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.SystemAccount"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/SystemAccounts/Create": {
      "post": {
        "tags": [
          "Profile/SystemAccounts"
        ],
        "operationId": "SystemAccountsProfile_CreateSystemAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.CreateSystemAccountRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.SystemAccount"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/TravelReasons/Query": {
      "post": {
        "tags": [
          "Profile/TravelReasons"
        ],
        "operationId": "TravelReasonsProfile_QueryTravelReasons",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryTravelReasonsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryTravelReasonsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/TravelReasons": {
      "post": {
        "tags": [
          "Profile/TravelReasons"
        ],
        "operationId": "TravelReasonsProfile_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "travelReason",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.TravelReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.TravelReason"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Users/Query": {
      "post": {
        "tags": [
          "Profile/Users"
        ],
        "operationId": "UsersProfile_QueryUsers",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryUsersRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Profile.QueryUsersRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Users/{id}": {
      "get": {
        "tags": [
          "Profile/Users"
        ],
        "operationId": "UsersProfile_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.User"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Profile/Users"
        ],
        "operationId": "UsersProfile_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.User"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Profile/Users": {
      "post": {
        "tags": [
          "Profile/Users"
        ],
        "operationId": "UsersProfile_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Profile.User"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Queue/Access": {
      "post": {
        "tags": [
          "Queue"
        ],
        "operationId": "Queue_Access",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.QueueAccessRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.QueueAccessRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Queue/PlaceQueueMessage": {
      "post": {
        "tags": [
          "Queue"
        ],
        "operationId": "Queue_PlaceQueueMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.PlaceQueueMessageRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.PlaceQueueMessageRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Queue/GetAccounts": {
      "post": {
        "tags": [
          "Queue"
        ],
        "operationId": "Queue_GetAccounts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.GetTravelQueueAccountsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.GetTravelQueueAccountsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Queue/ValidateSecurityToken": {
      "post": {
        "tags": [
          "Queue"
        ],
        "operationId": "Queue_ValidateSecurityToken",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.ValidateSecurityTokenRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Queue.ValidateSecurityTokenRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/{id}": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Workflow.BaseRecord"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_PatchRecord",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.PatchRecordRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.PatchRecordRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/GetParentRecord/{id}": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_GetParentRecord",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Workflow.BaseRecord"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/Pay": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_Pay",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.PayRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.PayRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/SaveMessage": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_SaveRecordMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.SaveRecordMessageRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.SaveRecordMessageRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_ProcessRecord",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ProcessRecordRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ProcessRecordRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/ProcessPayments": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_ProcessPayments",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ProcessPaymentsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ProcessPaymentsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/Query": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_QueryRecords",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.QueryRecordsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.QueryRecordsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/ChangeStatus": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_ChangeStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ChangeStatusRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ChangeStatusRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/ExecuteActionRequired": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_ExecuteActionRequired",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ExecuteActionRequiredRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.ExecuteActionRequiredRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/GetServiceOrderSummaries": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_GetServiceOrderSummaries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.GetServiceOrderSummariesRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/History/{id}": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_RecordsHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Workflow.BaseRecord"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Records/ExternalIntegration": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "Records_ExternalIntegration",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateCriteria",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Workflow.QueryRecordsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Report/Conciliator/Conciliate": {
      "post": {
        "tags": [
          "Report/Conciliator"
        ],
        "operationId": "Conciliator_Conciliate",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "formData",
            "description": "Identicação da definição e parametros adicionais",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Report.ConciliateRQ"
            }
          },
          {
            "name": "leftFile",
            "in": "formData",
            "description": "Arquivo Lado A",
            "required": false,
            "type": "file"
          },
          {
            "name": "rightFile",
            "in": "formData",
            "description": "Arquivo Labo B",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Report.ConciliateRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Report/Conciliator/Definitions": {
      "get": {
        "tags": [
          "Report/Conciliator"
        ],
        "operationId": "Conciliator_Definitions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Report.ConciliationDefinitionsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Report/Conciliator/ConciliationsHistory": {
      "get": {
        "tags": [
          "Report/Conciliator"
        ],
        "operationId": "Conciliator_ConciliationsHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Report.ConciliationsHistoryRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Report/Conciliator/ConciliationHistory/{id}": {
      "get": {
        "tags": [
          "Report/Conciliator"
        ],
        "operationId": "Conciliator_ConciliationHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Report.ConciliateRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Shopping/Search": {
      "post": {
        "tags": [
          "Shopping/"
        ],
        "operationId": "Shopping_Search",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.SearchRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.SearchRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Shopping/PreOrder": {
      "post": {
        "tags": [
          "Shopping/"
        ],
        "operationId": "Shopping_PreOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.PreOrderRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.PreOrderRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Shopping/ProcessOrder": {
      "post": {
        "tags": [
          "Shopping/"
        ],
        "operationId": "Shopping_ProcessOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.ProcessOrderRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.ProcessOrderRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Shopping/CancelPnrs": {
      "post": {
        "tags": [
          "Shopping/"
        ],
        "operationId": "Shopping_CancelPnrs",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.CancelPnrsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.CancelPnrsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Shopping/RetrievePnrs": {
      "post": {
        "tags": [
          "Shopping/"
        ],
        "operationId": "Shopping_RetrievePnrs",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.RetrievePnrsRQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvisionAPI.DTO.Envelopes.Shopping.RetrievePnrsRS"
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/Shopping/GetFareRulesByLoc": {
      "post": {
        "tags": [
          "Shopping/"
        ],
        "operationId": "Shopping_GetFareRulesByLoc",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
[...]
